<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <title>Tienda de abarrotes "Dany"</title>
</head>
<body>
    <div data-role="page">
        <div data-role="header">
                <div data-role="navbar">
                <ul>
                <li><a href="#" data-icon="home" class="ui-btn-active">Home</a></li>
                <li><a href="#" data-icon="eye">Productos</a></li>
                <li><a href="#" data-icon="user">Empleados</a></li>
                </ul>
            </div>
        </div>
        <div data-role="content">

        </div>
        <div data-role="footer">

        </div>
    </div>
</body>
</html>
